# ##############################################################################
# iCEcube PCF
# Family & Device:    iCE40HX8K
# Package:            CT256
# ##############################################################################

###IOSet List 12
set_io clk J3
set_io resetn H16 -pullup yes

set_io break_o C5 -pullup no
set_io rs232_rx_i B10
set_io rs232_tx_o B12

set_io nand_cle  B1 
set_io nand_ale  B2
set_io nand_nwe  C1
set_io nand_nwp  C2
set_io nand_nce  D1
set_io nand_nre  D2
set_io nand_rnb  E2			

set_io nand_data(0) E3
set_io nand_data(1) E4
set_io nand_data(2) F1
set_io nand_data(3) F2
set_io nand_data(4) F3
set_io nand_data(5) F4
set_io nand_data(6) F5
set_io nand_data(7) G2
set_io nand_data(8) G3
set_io nand_data(9) G4
set_io nand_data(10) G5
set_io nand_data(11) H1
set_io nand_data(12) H2
set_io nand_data(13) H3
set_io nand_data(14) H4
set_io nand_data(15) H5
		

###ProDemote List 2
#demote_signal_unbuffered io_map.timerinst.un1_sample_0_g
#demote_signal_unbuffered zpu.insn_1_sqmuxa_g

